on: [push, pull_request]

name: CI

jobs:
  clippy:
    name: Clippy
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          components: clippy
      - name: cargo clippy
        uses: actions-rs/clippy-check@v1.0.7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: -p rlsf

  test:
    name: Test
    runs-on: ubuntu-24.04
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          components: clippy
      - name: Install Dependencies
        run: |
          rustup target add wasm32-wasi
      - name: Install and configure the WebAssembly runtime
        run: |
          curl https://wasmtime.dev/install.sh -sSf | bash
          mkdir .cargo
          echo "[target.wasm32-wasi]" > .cargo/config.toml
          echo "runner = \"$HOME/.wasmtime/bin/wasmtime --\"" >> .cargo/config.toml

      - name: cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: -p rlsf
      - name: cargo test --features std
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: -p rlsf --features std
      - name: cargo test --features std,unstable
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: -p rlsf --features std,unstable

      - name: cargo test --target wasm32-wasi
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --target wasm32-wasi -p rlsf
      - name: cargo test --target wasm32-wasi --features std
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --target wasm32-wasi -p rlsf --features std

      - name: Override the test enviroment's memory allocator
        run: |
          cargo build -p rlsf_override --release
          stat "`pwd`/target/release/librlsf_override.so"
          echo "LD_PRELOAD=`pwd`/target/release/librlsf_override.so" >> $GITHUB_ENV

      - name: cargo test --target wasm32-wasi (with rlsf_override)
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --target wasm32-wasi -p rlsf nonexistent

  test-miri:
    name: Miri
    runs-on: ubuntu-24.04
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v2

      - name: Install nightly toolchain
        run: |
          echo nightly > rust-toolchain
          rustup component add miri rust-src

      - name: cargo miri test (partial)
        # Miri is too slow to run all tests
        # FIXME: Restore `cargo miri test -p rlsf --test global strings`
        # when <https://github.com/yvt/rlsf/issues/20> is fixed
        run: |
          cargo miri test -p rlsf --lib -- _u8_u8_8_8 global
